.card-img-state img{
    width: 100%; 
}

.card-img{
    height: 0vh;
}

.card-state{
    margin-bottom: 120%;
    margin-left: 5%;
    margin-top: 5%;    
}

.card-state button{
    padding: 2.5%;
    background-color: white;
    border-radius: 5px;
    border-style: none;
}