@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.hero-box{
    display: flex;
    justify-content: flex-start;
    flex-flow: column;    
}

.hero-img{
    display: flex;
    justify-content: flex-end;
}

.hero-img img{
    width: 70%;
    padding-top: 10%;
    padding-right: 10%;
}

.hero-text{
    width: 85%;    
}

.hero-text h1{
    font-size: 3.5vw;
    padding-left: 7.5%;
}

.hero-text p{
    font-size: 1.6vw;
    font-family: 'Poppins', sans-serif;    
    margin-top: -5%;
    width: 90%;
    padding-left: 7.5%;
}

@media screen and (max-width: 400px){
  
    .hero-text p{
        padding-top: 3%;
        font-size: 3.5vw;
    }

    .hero-text h1{        
        font-size: 5vw;
    }
    
 }
 
 @media screen and (max-width: 950px) and (min-width: 400px){
    .hero-text p{
        padding-top: 3%;
        font-size: 2vw;
    }
 }