@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body{
  background: rgba(255, 255, 255, 0.598);
}

.App {
  width: 45%;
  margin: auto;
  font-family: 'Inter', sans-serif;
  background-color: white;
}

.cards{
  display: flex;
  width: 130%;
}